{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Iniciar sesion
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 justify-content-center align-items-center g-2">
        <h1>Iniciar sesion</h1>
        <form action="{% url 'usuarios:login' %}" method="post">
          {% csrf_token %}

          {{ form|crispy }}

          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
          {% endif %}

          <button class="btn btn-success d-grid gap-2 mx-auto">Iniciar sesion</button>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
{% endblock %}
